:root {
  --error: #f44336;
  --main-color: #12a0bd;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.input__error {
  border-color: var(--error) !important;
  color: var(--error);
  outline-color: var(--error) !important;
}
.input__error::placeholder {
  color: var(--error);
}

.error__text {
  margin: 0;
  position: absolute;
  top: 0;
  font-size: 11px;
  transform: translateY(-100%);
  color: var(--error);
}

@media screen and (max-width: 1200px) {
  .container {
    width: 990px;
  }
}
@media screen and (max-width: 1030px) {
  .container {
    width: 767px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 576px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 94%;
  }
}
